@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Noto+Sans+TC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|");

html,
body {
  font-family: "Azeret Mono", "Noto Sans TC", monospace, sans-serif;
}
a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $white;
  &:hover {
    color: $primary;
  }
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 24px;
  @include media-breakpoint-up(md) {
    font-size: 48px;
  }
}
main {
  min-height: calc(100vh - 58px - 72px);
  @include media-breakpoint-up(md) {
    min-height: calc(100vh - 69.9px - 72px);
  }
  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 66px - 72px);
  }
  @media (max-width: 395px) {
    min-height: calc(100vh - 58px - 96px);
  }
}
