.navbar-brand {
  width: 24px;
  @include media-breakpoint-up(md) {
    width: 174.42px;
    img {
      content: url("../images/logo.svg");
    }
  }
}
.nav-link {
  color: $white;
}
nav {
  .border-gradient {
    position: fixed;
    top: 58px;
    @include media-breakpoint-up(sm) {
      top: 65px;
    }
    @include media-breakpoint-up(md) {
      top: 68px;
    }
    @include media-breakpoint-up(lg) {
      top: 72px;
    }
  }
}
.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  &__2 {
    -webkit-line-clamp: 2;
  }
  &__3 {
    -webkit-line-clamp: 3;
  }
}
.scroll-class {
  width: 100%;
  overflow-x: scroll;
  @include font-Noto;
}
.buttonsUl {
  li.active {
    .btn {
      @include btn-active;
    }
  }
}
.hot__class {
  &:hover {
    outline: 1px solid $primary;
    border-radius: 24px;
  }
}
.other__login {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    border: 0.5px solid $secondary;
    left: 0;
    top: 10px;
  }
  p {
    position: relative;
    z-index: 1;
    width: fit-content;
  }
}
