.intro {
  &__title {
    padding-left: 8px;
    border-left: 2px solid $primary;
  }
  &__list {
    li {
      list-style: none;
      &::before {
        content: "\25AA";
        color: $primary;
        font-weight: bold;
        display: inline-block;
        width: 1.5em;
        margin-left: -1.2em;
      }
    }
  }
}
