.banner {
  background: url(../images/bg_home_mobile.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 336px;
  @include media-breakpoint-up(md) {
    background: url(../images/bg_home.jpg) 50% 50% no-repeat;
    background-size: cover;
    height: 680px;
  }
}
.teachable {
  .card {
    background-color: $black;
    opacity: 0.5;
    &:hover {
      background-color: $black;
      border: 1px solid $primary;
      opacity: 1;
      .material-icons {
        @include text-gradient;
      }
    }
    @include media-breakpoint-up(md) {
      background-color: $dark;
    }
  }
}
.classflow {
  &__number {
    line-height: 56px;
    top: -2.35rem;
    left: 40px;
  }
}
.class__title {
  height: 58px;
  line-height: 29px;
  overflow-y: hidden;
}
.strengths {
  &__bg {
    position: relative;
    background-size: cover;
    height: 283px;
    .material-icons {
      color: $primary;
    }
    p {
      opacity: 0.7;
      @include media-breakpoint-up(xl) {
        opacity: 0.5;
      }
    }
    @include media-breakpoint-up(xl) {
      height: 615px;
      .material-icons {
        color: $white;
        opacity: 0.5;
      }
      &:hover {
        @include overlay-hover;
      }
    }
  }
  .bar {
    width: 70px;
    border: 1px solid $primary;
    margin: auto;
    opacity: 1;
    transition: all 0.4s;
    @include media-breakpoint-up(xl) {
      width: 50px;
      border: 1px solid $white;
      margin: 0;
      opacity: 0.5;
    }
  }
  &__bg1 {
    background: url(../images/info01.jpg) 50% 50% no-repeat;
  }
  &__bg2 {
    background: url(../images/info02.jpg) 50% 50% no-repeat;
  }
  &__bg3 {
    background: url(../images/info03.jpg) 50% 50% no-repeat;
  }
  &__bg4 {
    background: url(../images/info04.jpg) 50% 50% no-repeat;
  }
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: 0;
    transition: all 0.4s;
  }
}
.card-cube-border {
  position: absolute;
  width: 32px;
  height: 32px;
  display: none;
  &__lt {
    border-radius: 8px 0 0 0;
    border-left: 1px solid $primary;
    border-top: 1px solid $primary;
    left: 0;
    top: 0;
  }
  &__rt {
    border-radius: 0 8px 0 0;
    border-right: 1px solid $primary;
    border-top: 1px solid $primary;
    right: 0;
    top: 0;
  }
  &__rb {
    border-radius: 0 0 8px 0;
    border-right: 1px solid $primary;
    border-bottom: 1px solid $primary;
    right: 0;
    bottom: 0;
  }
  &__lb {
    border-radius: 0 0 0 8px;
    border-left: 1px solid $primary;
    border-bottom: 1px solid $primary;
    left: 0;
    bottom: 0;
  }
}
.articleShare {
  .card {
    &:hover {
      .card-cube-border {
        display: block;
      }
    }
  }
}
.add__us {
  max-width: 966px;
  .material-icons {
    font-size: 100px;
  }
}
.bg-slider {
  background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_share.jpg?raw=true)
    50% 50% no-repeat;
  background-size: cover;
  @include media-breakpoint-up(lg) {
    height: 733px;
  }
}
.slider {
  &__content {
    position: relative;
    margin: auto;
    max-width: 913px;
    padding-left: 12px;
    @include media-breakpoint-up(lg) {
      padding-bottom: 52px;
    }
  }
  &__img {
    position: relative;
    @include media-breakpoint-up(lg) {
      max-width: 525px;
      max-height: 381px;
    }
    img {
      position: relative;
      z-index: 1;
    }
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border: 1px solid $white;
      border-radius: 24px;
      z-index: 0;
      left: 0;
      bottom: 0;
      left: -8px;
      bottom: -8px;
      @include media-breakpoint-up(lg) {
        left: -12px;
        bottom: -12px;
      }
    }
  }
  &__text {
    position: relative;
    border-radius: 24px 24px 24px 0;
    margin-top: 60px;
    @include media-breakpoint-up(lg) {
      position: absolute;
      max-width: 416px;
      right: 0;
      bottom: 6px;
      z-index: 2;
    }
  }
  &__controller {
    margin-top: 24px;
    @include media-breakpoint-up(lg) {
      max-width: 525px;
      position: absolute;
      bottom: 0;
      left: 23%;
      z-index: 2;
    }
  }
}
.avator {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: -40px;
  right: 32px;
  @include media-breakpoint-up(lg) {
    width: 100px;
    height: 100px;
    top: -50px;
  }
}

.swiper {
  &-wrapper {
    height: auto;
  }
  &-fade {
    .swiper-slide {
      opacity: 0 !important;
      &.swiper-slide-active {
        opacity: 1 !important;
      }
    }
  }
  &-pagination-bullet {
    background: $primary;
    opacity: 1;
    border-radius: 1em;
    --swiper-pagination-bullet-width: 0.5rem;
    transition: width 0.3s;
    &.swiper-pagination-bullet-active {
      --swiper-pagination-bullet-width: 1rem;
    }
  }
}
